@import '../../../../../global-style/index.scss';

$secrets-tab-table-container-padding-top: getRem(48px);
$secrets-policies-tabs-container-margin-left: getRem(48px);
$padding-right-56px: getRem(56px);

.manage-my-secrets-container {
  display: flex;

  .nodes-secrets-tree-container {
    height: calc(100vh - 170px);
    z-index: 3;
  }

  .secrets-policies-tabs-container {
    padding-left: $secrets-policies-tabs-container-margin-left;
    padding-right: $padding-right-56px;
    @include customScrollbar();
    flex-grow: 1;
    overflow: auto;
    height: calc(100vh - 170px);

    .secrets-tab-table-container {
      padding-top: $secrets-tab-table-container-padding-top;
      .secrets-eye-icon {
        color: $gray-60;

        .disabled-icon {
          color: $gray-30;
          cursor: not-allowed;
        }
      }
    }
  }
}
