@import '../../../../../global-style/index.scss';

$view-button-container-padding-left: getRem(56px);
$view-button-container-padding-bottom: getRem(16px);
$view-button-container-padding-right: getRem(16px);
$padding-right-1rem: getRem(16px);
$padding-left-1rem: getRem(16px);
$margin-top-32: getRem(32px);
$margin-top-8: getRem(8px);
$margin-right-10: getRem(10px);
$margin-bottom-10: getRem(10px);

.sst-view-button-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $gray-10 !important;
  padding-left: $view-button-container-padding-left;
  padding-right: $view-button-container-padding-right;
  padding-bottom: $view-button-container-padding-bottom;
}

.sst-view-child-button-main-container {
  display: flex;
  justify-content: space-between;
  button {
    margin-right: $margin-right-10;
  }
}

.view-secret-main-container {
  overflow-y: auto;
  padding-left: $view-button-container-padding-left;
  padding-right: $view-button-container-padding-right;
  margin-top: $margin-top-32;
  height: calc(100vh - 179px);
  @include customScrollbar();

  .margin-top-32 {
    margin-top: $margin-top-32;
  }
  .margin-top-8 {
    margin-top: $margin-top-8;
  }

  .tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .bds-pill-container {
    margin-bottom: 10px;
    margin-right: $margin-right-10;
  }
  .typography-label-01 {
    color: #525252;
  }
  .typography-label-02 {
    color: #393939;
  }

  .sst-view-render-class {
    display: flex;
    height: 100%;
    padding-left: 0;
    padding-right: $padding-right-1rem;
  }
}

.pp-view-sst-modal-popup-container {
  .margin-top-32 {
    margin-top: $margin-top-32;
  }
  .margin-top-8 {
    margin-top: $margin-top-8;
  }
  .typography-label-01 {
    color: #525252;
  }
  .typography-label-02 {
    color: #393939;
  }
}
