@import '../../../../../../global-style/index.scss';

$padding-bottom-approvals-details-button: getRem(16px);
$padding-left-approvals-details-button: getRem(56px);
$padding-left-approvals-details-form: getRem(56px);
$padding-left-cancel-btn: getRem(16px);
$padding-right-cancel-btn: getRem(16px);
$margin-top-approvals-details-form: getRem(48px);
$approvals-details-margin-top-32: getRem(32px);
$approvals-details-margin-top-8: getRem(8px);

.sm-approvals-details-button {
  font-family: 'OpenSansRegular';
  display: flex;
  position: sticky;
  background-color: $gray-10;
  padding-bottom: $padding-bottom-approvals-details-button;
  padding-left: $padding-left-approvals-details-button;

  .sm-cancel-btn {
    padding-left: $padding-left-cancel-btn;
    padding-right: $padding-right-cancel-btn;
  }
}

.sm-approvals-details-form {
  font-family: 'OpenSansRegular';
  padding-left: $padding-left-approvals-details-form;
  margin-top: $margin-top-approvals-details-form;

  .approvals-details-margin-top-32 {
    margin-top: $approvals-details-margin-top-32;
  }
  .approvals-details-margin-top-8 {
    margin-top: $approvals-details-margin-top-8;
  }
}
