@import '../../../../../global-style/index.scss';

$add-role-btn-container-padding-left: getRem(56px);
$add-role-btn-container-padding-bottom: getRem(16px);
$policy-table-container-padding-top: getRem(48px);
$policy-table-container-padding-left: getRem(56px);
$policy-table-container-padding-right: getRem(56px);
$policy-table-container-padding-right-hover: getRem(48px);
$action-button-padding-right: getRem(16px);
$action-button-padding-left: getRem(16px);
$action-button-size: getRem(24px);

.policy-list-container {
  height: calc(100vh - 173px);
  overflow-y: scroll;
  @include customScrollbar();
}
.add-policy-btn-container {
  position: sticky;
  width: 100%;
  background-color: $gray-10 !important;
  padding-left: $add-role-btn-container-padding-left;
  padding-bottom: $add-role-btn-container-padding-bottom;
}

.disabled-policy-icons {
  color: $gray-30;
}

.policies-table-container {
  margin-top: $policy-table-container-padding-top;
  margin-left: $policy-table-container-padding-left;
  margin-right: $policy-table-container-padding-right;
}
.policy-action-items {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@mixin actionButton {
  display: flex;
  color: $gray-60;
  padding-right: $action-button-padding-right;
}
.policy-action-edit {
  @include actionButton;
  transform: rotate(90deg);
  padding-left: $action-button-padding-left;
}
.policy-action-delete {
  @include actionButton;
}
.policy-action-copy {
  @include actionButton;
}
.policy-action-delete-disabled {
  @include actionButton;
  color: $gray-30;
}

.policy-action-copy {
  @include actionButton;
}

.policy-action-toggle {
  @include actionButton;
}

.disabled-toggle-icon {
  color: $gray-30;
}
