@import '../../../../global-style/index.scss';

$secret-landing-container-margin-top: getRem(16px);
$secret-landing-container-margin-left: getRem(56px);
$group-tiles-container-margin-bottom: getRem(8px);
$group-title-height: getRem(27px);
$group-title-margin-bottom: getRem(16px);
$group-card-margin-bottom: getRem(32px);
$secret-card-wrapper-margin-right: getRem(40px);
$padding-bottom-back-sys-admin-button: getRem(16px);
$padding-left-back-sys-admin-button: getRem(56px);

.secret-landing-container {
  display: flex;
  flex-direction: column;
  margin-top: $secret-landing-container-margin-top;
  padding-left: $secret-landing-container-margin-left;

  &:hover {
    overflow: auto;
  }
  @include customScrollbar();
}

.group-tiles-container {
  display: flex;
  flex-direction: column;
  margin-bottom: $group-tiles-container-margin-bottom;
}

.group-title {
  display: flex;
  height: $group-title-height;
  margin-bottom: $group-title-margin-bottom;
  color: $gray-80;
}

.group-card {
  display: flex;
  flex-flow: row wrap;

  & > * {
    margin-bottom: $group-card-margin-bottom;
  }
}

.secret-card-wrapper:not(:last-child) {
  margin-right: $secret-card-wrapper-margin-right;
}

.sm-back-to-system-administration-button {
  position: sticky;
  width: 100%;
  background-color: $gray-10 !important;
  padding-bottom: $padding-bottom-back-sys-admin-button;
  padding-left: $padding-left-back-sys-admin-button;
}

.sm-no-access-banner {
  font-family: 'OpenSansRegular';
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray-80;
  font-weight: 300;
  height: calc(100vh - 136px);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
