@import '../../../../../../../../global-style/index.scss';

$add-policy-field-wrapper-margin-bottom: getRem(32px);
$sm-vertical-tab-wrap-margin-left: getRem(56px);

.sm-add-policy-wrapper {
  display: flex;

  .sm-form-name-loader-wrapper:not(:last-child) {
    margin-bottom: $add-policy-field-wrapper-margin-bottom;
  }

  .sm-vertical-tab-wrap {
    padding-left: $sm-vertical-tab-wrap-margin-left;
  }
}
