@import '../../../../../../global-style/index.scss';

$sst-input-form-container-padding-top: getRem(48px);
$sst-input-form-container-padding-bottom: getRem(48px);
$sst-input-form-container-padding-left: getRem(56px);
$sst-input-form-container-padding-right: getRem(56px);
$sst-input-spacing-margin-bottom: getRem(32px);
$sst-form-loader-margin-top: getRem(25px);
$sst-form-loader-margin-left: getRem(16px);
$sst-add-field-action-padding-top: getRem(8px);
$sst-table-spacing-margin-top: getRem(8px);
$sst-table-action-icons-padding-right: getRem(16px);
$sst-table-action-view-padding-left: getRem(16px);
$sst-add-empty-error-margin-top: getRem(1px);
$sst-field-input-spacing-margin-bottom: getRem(32px);

.sst-input-form-container {
  display: flex;
  flex-direction: column;
  padding-top: $sst-input-form-container-padding-top;
  padding-bottom: $sst-input-form-container-padding-bottom;
  padding-left: $sst-input-form-container-padding-left;
  padding-right: $sst-input-form-container-padding-right;
  height: calc(100vh - 149px);
  overflow-y: auto;
  @include customScrollbar();

  .sst-input-spacing:not(:last-child) {
    margin-bottom: $sst-input-spacing-margin-bottom;
  }

  .sst-align-with-loader {
    display: flex;
    align-items: center;

    .sst-form-loader {
      margin-top: $sst-form-loader-margin-top;
      margin-left: $sst-form-loader-margin-left;
    }
  }

  .sst-add-field-action {
    display: flex;
    padding-top: $sst-add-field-action-padding-top;
  }

  .sst-add-empty-error {
    margin-top: $sst-add-empty-error-margin-top;
    color: $red-60;
  }

  .sst-table-spacing {
    margin-top: $sst-table-spacing-margin-top;

    .sst-table-action-icons {
      height: 100%;
      display: flex;
      align-items: center;

      @mixin actionButton {
        display: flex;
        padding-right: $sst-table-action-icons-padding-right;
        color: $gray-60;
      }

      .sst-table-action-view {
        @include actionButton();
      }

      .sst-table-action-delete {
        @include actionButton();
      }
    }
  }
}

.sst-modal-scroll {
  .sst-field-input-spacing:not(:last-child) {
    margin-bottom: $sst-field-input-spacing-margin-bottom;
  }

  .sst-align-with-loader {
    display: flex;
    align-items: center;
  }
}
