@import '../../../../../global-style/index.scss';

$notification-medium-form-container-padding-top: getRem(48px);
$notification-medium-form-container-padding-bottom: getRem(48px);
$notification-medium-form-container-padding-left: getRem(56px);
$notification-medium-form-container-padding-right: getRem(56px);
$notification-medium-form-spacing-margin-bottom: getRem(32px);
$margin-top-32: getRem(32px);
$form-loader-margin-top: getRem(25px);
$form-loader-margin-left: getRem(16px);
$margin-top-8px: getRem(8px);

.notification-medium-form-container {
  display: flex;
  flex-direction: column;
  padding-top: $notification-medium-form-container-padding-top;
  padding-bottom: $notification-medium-form-container-padding-bottom;
  padding-left: $notification-medium-form-container-padding-left;
  padding-right: $notification-medium-form-container-padding-right;
  height: calc(100vh - 168px);
  overflow-y: auto;
  @include customScrollbar();

  .field-wrapper {
    margin-top: $margin-top-32;
  }
  .field-spacing {
    margin-top: $margin-top-8px;
  }
}

.align-with-loader {
  display: flex;
  align-items: center;

  .form-loader {
    margin-top: $form-loader-margin-top;
    margin-left: $form-loader-margin-left;
  }
}
.webhook-url-text {
  color: $link-color;
}
