@import "../../../../../../../global-style/index.scss";

$content-box-height: getRem(256px);
$content-box-padding: getRem(80px);
$content-box-margin-top: getRem(32px);
$content-box-border-radius: getRem(8px);
$text-size: getRem(18px);
$icon-size: getRem(48px);
$icon-margin-bottom: getRem(32px);

.approval-request-success-container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 48px); // Added to account for the header height
  background-color: $gray-10;

  .approval-request-success-content {
    padding: $content-box-padding;
    height: $content-box-height;
    background: #fff;
    border-radius: $content-box-border-radius;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: $content-box-margin-top;
  }

  .check-icon {
    display: box;
    font-size: $icon-size;
    margin-bottom: $icon-margin-bottom;
  }

  .approved {
    color: $link-color;
  }

  .rejected {
    color: $red-60;
  }

  .success-message {
    display: box;
    font-size: $text-size;
  }
}
