@import '../../../../../global-style/index.scss';

$secrets-policies-tabs-container-margin-top: getRem(48px);
$secrets-policies-tabs-wrapper-padding-top: getRem(48px);
$secrets-tab-button-container-margin-top: getRem(16px);
$secrets-tab-button-container-margin-bottom: getRem(8px);
$secrets-tab-table-container-margin-top: getRem(16px);
$details-action-buttons-container-margin-bottom: getRem(16px);
$details-action-buttons-container-margin-top: getRem(16px);
$field-wrapper-margin-top: getRem(32px);
$field-value-wrapper-margin-top: getRem(8px);
$action-container-padding-right: getRem(16px);
$action-button-container-margin-right: getRem(16px);
$show-button-margin-right: getRem(8px);
$padding-right-56px: getRem(56px);
$action-button-padding-right: getRem(16px);
$action-button-padding-left: getRem(16px);
$secret-view-label-margin-bottom: getRem(8px);
$secret-view-spacing-margin-bottom: getRem(32px);
$secret-detail-message-margin-top: getRem(16px);

.manage-secrets-container {
  display: flex;

  .nodes-secrets-tree-container {
    height: calc(100vh - 200px);
    z-index: 3;
  }

  .secrets-policies-tabs-container {
    padding-left: $secrets-policies-tabs-container-margin-top;
    padding-right: $padding-right-56px;
    @include customScrollbar();
    flex-grow: 1;
    overflow: auto;
    height: calc(100vh - 200px);
    .secrets-policies-tabs-wrapper {
      padding-top: $secrets-policies-tabs-wrapper-padding-top;
    }
    .secrets-tab-button-container {
      margin-top: $secrets-tab-button-container-margin-top;
      margin-bottom: $secrets-tab-button-container-margin-bottom;
    }
    .secrets-tab-table-container {
      margin-top: $secrets-tab-table-container-margin-top;
      .action-column-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: $gray-60;
        .disabled-icon {
          color: $gray-30;
          cursor: not-allowed;
        }
        .edit-action-container {
          display: flex;
          transform: rotate(90deg);
        }
        .action-container {
          display: flex;
          padding-right: $action-container-padding-right;
          .disabled-icon {
            color: $gray-30;
          }
        }
      }

      .secrets-policy-action-items {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      @mixin actionButton {
        display: flex;
        color: $gray-60;
        padding-right: $action-button-padding-right;
      }
      .secrets-policy-action-view {
        @include actionButton;
        transform: rotate(90deg);
        padding-left: $action-button-padding-left;
      }
      .secrets-policy-action-delete {
        @include actionButton;
      }

      .secrets-policy-action-delete-disabled {
        @include actionButton;
        color: $gray-30;
      }

      .secrets-policy-action-toggle {
        @include actionButton;
      }
      .secrets-policy-action-toggle-disabled {
        @include actionButton;
        color: $gray-30;
      }
      .secrets-policy-action-view-disabled {
        @include actionButton;
        color: $gray-30;
      }
    }
  }
  .secret-details-container {
    display: flex;
    flex-direction: column;
    .details-action-buttons-container {
      display: flex;
      justify-content: flex-start;
      margin-top: $details-action-buttons-container-margin-top;
      margin-bottom: $details-action-buttons-container-margin-bottom;
      .details-action-button-container {
        margin-right: $action-button-container-margin-right;
      }
    }
    .field-wrapper {
      margin-top: $field-wrapper-margin-top;
      &:first-child {
        margin-top: 0;
      }
      .password-type-buttons-wrapper {
        margin-top: $field-value-wrapper-margin-top;
        display: flex;
        .show-button-wrapper {
          margin-right: $show-button-margin-right;
        }
      }
      .field-value-wrapper {
        margin-top: $field-value-wrapper-margin-top;
      }
    }
    .message-container {
      margin-top: $secret-detail-message-margin-top;
    }
  }
}

.sm-approval-pending-popup-field-spacing {
  margin-top: $field-value-wrapper-margin-top;
}

.sm-secret-view-layout {
  .secret-view-spacing:not(:last-child) {
    margin-bottom: $secret-view-spacing-margin-bottom;
  }
  .secret-view-label {
    margin-bottom: $secret-view-label-margin-bottom;
    color: $gray-80;
  }
  .typography-label-02 {
    color: $gray-80;
  }
  .typography-label-01 {
    color: $gray-70;
  }
}

.disabled-policy-icons {
  color: $gray-30;
}
