@import '../../global-style/index.scss';

.secret-manager-app-container {
  margin: -20px -20px 0;
  .typography-label-02 {
    color: $gray-80;
  }
  .typography-label-01 {
    color: $gray-70;
  }
}
