@import '../../../../../../../global-style/index.scss';

.notification-container {
    border: 1px solid $gray-30;
    margin: 0.5rem 0.25rem;
}

.spinner-container {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}