@import '../../../../../global-style/index.scss';

$add-policy-button-container-padding-bottom: getRem(16px);
$add-policy-button-container-padding-left: getRem(56px);
$add-policy-button-container-left-margin-right: getRem(16px);

$policy-snackbar-margin-left: getRem(56px);
$policy-snackbar-margin-right: getRem(56px);
.add-policy-button-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-family: 'OpenSansRegular';
  background-color: $gray-10;
  padding-bottom: $add-policy-button-container-padding-bottom;
  padding-left: $add-policy-button-container-padding-left;
  padding-right: $add-policy-button-container-padding-left;
  position: sticky;
  width: 100%;
  .add-policy-buttons-container-left {
    display: flex;
    .add-policy-button-container-left {
      margin-right: $add-policy-button-container-left-margin-right;
    }
  }
}
.add-policy-snackbar {
  margin-left: $policy-snackbar-margin-left;
  margin-right: $policy-snackbar-margin-right;
}
