@import '../../../../../global-style/index.scss';

$button-wrapper-margin: getRem(8px);
$add-policy-field-wrapper-margin-bottom: getRem(32px);
$add-policy-field-value-wrapper-margin-top: getRem(8px);
$add-permission-button-margin-right: getRem(16px);
$stepper-main-container-padding-top: getRem(48px);
$stepper-main-container-padding-bottom: getRem(48px);
$stepper-main-container-padding-left: getRem(56px);
$stepper-main-container-padding-right: getRem(32px);
$permission-action-items-padding-right: getRem(16px);
$pill-adjust-padding-right: getRem(16px);
$pill-adjust-padding-bottom: getRem(8px);
$entity-input-spacing-margin-bottom: getRem(32px);
$action-wrapper-pill-padding-right: getRem(16px);
$action-wrapper-pill-padding-bottom: getRem(8px);
$view-permission-modal-label-padding-bottom: getRem(8px);
$view-action-pill-width: getRem(448px);
$form-name-check-loader-margin-top: getRem(20px);
$form-name-check-loader-margin-bottom: getRem(10px);
$read-only-consumer-margin-top: getRem(8px);
$form-permission-name-check-loader-margin-top: getRem(26px);
$form-loader-margin-top: getRem(25px);

.permission-tab-outer-container {
  flex-grow: 1;
  padding-top: $stepper-main-container-padding-top;
  padding-left: $stepper-main-container-padding-left;
  padding-bottom: $stepper-main-container-padding-bottom;
  padding-right: $stepper-main-container-padding-right;
  overflow: auto;
  @include customScrollbar();
  .form-name-loader-wrapper {
    display: flex;
    align-items: center;

    .form-name-check-loader {
      margin-top: $form-name-check-loader-margin-top;
      margin-left: $form-name-check-loader-margin-bottom;
    }
    .form-permission-name-check-loader {
      margin-top: $form-permission-name-check-loader-margin-top;
    }
  }

  .add-policy-field-wrapper {
    margin-bottom: $add-policy-field-wrapper-margin-bottom;
  }

  .add-policy-field-value-wrapper {
    margin-top: $add-policy-field-value-wrapper-margin-top;
  }

  .typography-label-02 {
    color: $gray-80;
  }
  .typography-label-01 {
    color: $gray-70;
  }

  .add-permission-buttons-wrapper {
    display: flex;
    margin-top: $button-wrapper-margin;
    margin-bottom: $button-wrapper-margin;

    .add-permission-button-wrapper {
      margin-right: $add-permission-button-margin-right;
    }
  }

  .permission-action-items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    @mixin actionButton {
      display: flex;
      padding-right: $permission-action-items-padding-right;
    }

    .permission-action-edit,
    .permission-action-view,
    .permission-action-delete,
    .permission-action-delete {
      @include actionButton();
    }
  }
}

.add-edit-policy-modal-wrapper {
  display: flex;

  .form-name-loader-wrapper {
    display: flex;
    align-items: center;

    .form-name-check-loader {
      margin-top: $form-name-check-loader-margin-top;
      margin-left: $form-name-check-loader-margin-bottom;
    }
    .permission-name-field {
      display: flex;
      align-items: center;
    }
    .form-permission-name-check-loader {
      margin-top: $form-permission-name-check-loader-margin-top;
    }
  }

  .align-with-loader-inline-permission {
    display: flex;
    align-items: center;

    .form-side-loader {
      margin-top: $form-loader-margin-top;
    }
  }

  .form-name-loader-wrapper:not(:last-child) {
    margin-bottom: $add-policy-field-wrapper-margin-bottom;
  }
  .read-only-consumer {
    margin-top: $read-only-consumer-margin-top;
  }

  .add-policy-field-wrapper {
    margin-bottom: $add-policy-field-wrapper-margin-bottom;
  }

  .add-policy-field-value-wrapper {
    margin-top: $add-policy-field-value-wrapper-margin-top;
  }

  .view-permission-modal-label {
    padding-bottom: $view-permission-modal-label-padding-bottom;
    color: $gray-80;
  }

  .view-permission-modal-value {
    color: $gray-70;
  }

  .add-permission-buttons-wrapper {
    display: flex;
    margin-top: $button-wrapper-margin;
    margin-bottom: $button-wrapper-margin;
  }

  .add-permission-button-wrapper {
    margin-right: $add-permission-button-margin-right;
  }
}

.add-existing-policy-modal-wrapper {
  .typography-label-02 {
    color: $gray-80;
  }
  .typography-label-01 {
    color: $gray-70;
  }

  .add-entity-search-field {
    margin-bottom: 32px;
  }
  .add-entity-input-spacing:not(:last-child) {
    margin-bottom: $entity-input-spacing-margin-bottom;
  }

  .form-loader-modal {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-60%, -50%);
  }

  .align-with-loader {
    display: flex;
    align-items: center;
  }

  .add-entity-modal-label {
    padding-bottom: $view-permission-modal-label-padding-bottom;
    color: $gray-80;
  }

  .add-entity-modal-value {
    color: $gray-70;
  }

  .view-action-pill {
    display: flex;
    flex-wrap: wrap;
    width: $view-action-pill-width;

    .pill-adjust {
      padding-right: $pill-adjust-padding-right;
      padding-bottom: $pill-adjust-padding-bottom;
    }
  }

  .action-wrapper-pill {
    padding-right: $action-wrapper-pill-padding-right;
    padding-bottom: $action-wrapper-pill-padding-bottom;
  }
}
