@import '../../../../../../global-style/index.scss';

$padding-bottom-approvals-details-button: getRem(16px);
$padding-left-approvals-details-button: getRem(56px);
$padding-left-approvals-details-form: getRem(56px);
$padding-left-approvals-details-button: getRem(32px);
$padding-left-cancel-btn: getRem(16px);
$padding-top-textfield: getRem(32px);
$margin-top-approvals-details-form: getRem(48px);
$margin-top-approvals-details-form-mobile: getRem(16px);
$approvals-details-margin-top-32: getRem(32px);
$approvals-details-margin-top-20: getRem(20px);
$approvals-details-margin-top-8: getRem(8px);
$details-label-margin-bottom: getRem(8px);
$details-label-padding-bottom: getRem(8px);

.my-secrets-my-approvals-details-button {
  font-family: 'OpenSansRegular';
  display: flex;
  position: sticky;
  background-color: $gray-10;
  padding-bottom: $padding-bottom-approvals-details-button;
  padding-left: $padding-left-approvals-details-button;

  @media screen and (max-width: 768px) {
    background-color: transparent;
    justify-content: space-between;
    padding-left: 0;
    padding-top: $padding-left-approvals-details-button;
  }

  .user-cancel-btn {
    padding-right: $padding-left-cancel-btn;
    padding-left: $padding-left-cancel-btn;
  }
}

.my-secrets-my-approvals-details-form {
  font-family: 'OpenSansRegular';
  padding-left: $padding-left-approvals-details-form;
  margin-top: $margin-top-approvals-details-form;

  @media screen and (max-width: 768px) {
    padding-right: getRem(56px);
    margin-top: $margin-top-approvals-details-form-mobile;

    .details-label {
      border-bottom: 1px solid #393939;
      padding-bottom: $details-label-padding-bottom;
      margin-bottom: $details-label-margin-bottom;
    }
  }

  .approvals-details-margin-top-32 {
    margin-top: $approvals-details-margin-top-32;
  }

  .approvals-details-margin-top-20 {
    margin-top: $approvals-details-margin-top-20;
  }

  .approvals-details-margin-top-8 {
    margin-top: $approvals-details-margin-top-8;
  }
}

.my-secrets-my-approvals-details-text-indent {
  padding-left: getRem(16px);
}
