@import '../../../../../global-style/index.scss';

$form-container-padding-left-right: getRem(56px);
$form-container-padding-top-bottom: getRem(48px);
$form-field-margin-bottom: getRem(32px);
$actions-container-padding-left-right: getRem(56px);
$actions-container-padding-bottom: getRem(16px);
$add-secret-save-button-margin-right: getRem(16px);
$read-only-field-value-wrapper-margin-top: getRem(8px);
$name-check-loader-container-margin-top: getRem(18px);
$name-check-loader-container-margin-left: getRem(8px);
$generate-password-container-margin-bottom: getRem(8px);
$read-only-label-wrapper-margin-bottom: getRem(8px);

.add-secret-actions-container {
  display: flex;
  position: sticky;
  background-color: $gray-10 !important;
  padding-left: $actions-container-padding-left-right;
  padding-right: $actions-container-padding-left-right;
  padding-bottom: $actions-container-padding-bottom;

  .add-secret-save-button {
    margin-right: $add-secret-save-button-margin-right;
  }
}

.add-secret-form-container {
  height: calc(100vh - 180px);
  overflow-y: auto;
  @include customScrollbar();
  padding-top: $form-container-padding-top-bottom;
  padding-bottom: $form-container-padding-top-bottom;
  margin-left: $form-container-padding-left-right;
  .add-secret-form-field-wrapper {
    margin-bottom: $form-field-margin-bottom;
    .read-only-label-wrapper {
      margin-bottom: $read-only-label-wrapper-margin-bottom;
    }
    .generate-password-container {
      display: flex;
      align-items: center;
      .generate-password-button-container {
        margin-right: $generate-password-container-margin-bottom;
      }
    }
  }
  .name-check-textfield-loader-container {
    display: flex;
    align-items: center;
    .name-check-loader-container {
      margin-top: $name-check-loader-container-margin-top;
      margin-left: $name-check-loader-container-margin-left;
    }
  }
  .read-only-field-wrapper {
    margin-bottom: $form-field-margin-bottom;
    .read-only-field-value-wrapper {
      margin-top: $read-only-field-value-wrapper-margin-top;
    }
  }
  .secret-detail-container {
    color: $gray-80;
  }
}
