@import '../../../../../global-style/index.scss';

$actions-container-padding-left-right: getRem(56px);
$actions-container-padding-bottom: getRem(16px);
$edit-secret-save-button-margin-right: getRem(16px);

.edit-secret-actions-container {
  display: flex;
  position: sticky;
  background-color: $gray-10 !important;
  padding-left: $actions-container-padding-left-right;
  padding-right: $actions-container-padding-left-right;
  padding-bottom: $actions-container-padding-bottom;

  .edit-secret-save-button {
    margin-right: $edit-secret-save-button-margin-right;
  }
}
