@import '../../../../../../global-style/index.scss';

$secret-view-spacing-margin-bottom: getRem(32px);
$secret-view-label-margin-bottom: getRem(8px);
$masked-action-buttons-margin-bottom: getRem(8px);
$show-button-margin-right: getRem(16px);
$margin-top: getRem(8px);

.my-secrets-secret-view-loader {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.my-secrets-secret-view-layout {
  .secret-view-spacing:not(:last-child) {
    margin-bottom: $secret-view-spacing-margin-bottom;
  }

  .secret-view-label {
    margin-bottom: $secret-view-label-margin-bottom;
    color: $gray-80;
  }

  .typography-label-02 {
    color: $gray-80;
  }
  .typography-label-01 {
    color: $gray-70;
  }

  .secret-view-value {
    color: $gray-70;

    .masked-action-buttons {
      display: flex;
      margin-bottom: $masked-action-buttons-margin-bottom;

      .show-button {
        margin-right: $show-button-margin-right;
      }
    }
  }
}

.my-secrets-approval-pending-popup-field-spacing {
  margin-top: $margin-top;
}
